<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поделиться экраном</title>
</head>
<body>
<div id="login">
    <h1>Введите фамилию и имя:</h1>
    <input type="text" id="name" placeholder="Ваше имя">
    <button id="startSharing">Делиться экраном</button>
</div>
<p id="status"></p>

<!-- Элемент для отображения обратной связи -->
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const startSharing = document.getElementById('startSharing');
    const nameInput = document.getElementById('name');

    startSharing.addEventListener('click', async () => {
        const name = nameInput.value;
        if (!name) {
            alert('Введите имя!');
            return;
        }

        socket.emit('join', {name: name});

        const status = document.getElementById('status');
        try {
            // Прячем поле ввода и кнопку после начала трансляции
            document.getElementById('login').style.display = 'none';

            // Запрашиваем доступ к захвату экрана
            const stream = await navigator.mediaDevices.getDisplayMedia();
            const video = document.createElement('video');
            video.srcObject = stream;
            video.play();

            const canvas = document.createElement('canvas');
            const context = canvas.getContext('2d');

            status.textContent = 'Передача экрана началась!';

            setInterval(() => {
                // Захватываем кадры и уменьшаем их
                if (video.readyState === video.HAVE_ENOUGH_DATA) {
                    const targetWidth = 1080; // Целевое ширина изображений
                    const scaleFactor = targetWidth / video.videoWidth; // Коэффициент уменьшения
                    const targetHeight = video.videoHeight * scaleFactor; // Высота пропорционально уменьшенной ширине

                    canvas.width = targetWidth;
                    canvas.height = targetHeight;

                    context.drawImage(video, 0, 0, canvas.width, canvas.height);

                    // Преобразуем уменьшенное изображение в Data URL
                    const imgData = canvas.toDataURL('image/webp', 0.8); // Уменьшаем также качество до 70%
                    socket.emit('share_screen', imgData);

                }
            }, 5000); // Отправляем каждые 500 мс
        } catch (err) {
            console.error(err);
            alert('Не удалось получить доступ к экрану!');
            status.textContent = 'Ошибка! Вы не дали разрешение.';
            // Возвращаем поле ввода и кнопку, если произошла ошибка
            document.getElementById('login').style.display = '';
        }
    });
</script>
</body>
</html>